__pycache__/
*.py[cod]
venv/
.env
*.pth
*.pt
notebooks/data/*
!notebooks/data/.gitkeep
notebooks/data/scin_images/
notebooks/data/*.csv
notebooks/data/download_progress.json
models/*
!models/.gitkeep
.ipynb_checkpoints/
test_images/
notebooks/scin-reference/
notebooks/venv-scin/
notebooks/venv-data/